<a href="https://colab.research.google.com/github/Arathics/task2/blob/main/Copy_of_Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Access and read the CSV
import pandas as pd

data_path = '/content/drive/My Drive/task2.csv'  # Replace with your file path
data = pd.read_csv(data_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.info#concise summary

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
495          496         0       3
496          497         1       1
497          498         0       3
498          499         0       1
499          500         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
495                              Yousseff, Mr. Gerious    male   NaN      0
496                     Eustis, Miss. Elizabeth Mussey  female  54.0      1
497                    Shellard, Mr. Frederick William    male   NaN      0
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0      1
499                                 Svensson, Mr. Olof    male  24.0      0

     Parch            Ticket     Fare    Cabin Embarked
0        0         A/5 21171    7.250      NaN        S
1        0          PC 17599   71.283      C85        C
2        0  STON/O2. 3101282    7.925      NaN        S
3        0            113803   53.100     C123        S
4        0            373450    8.050      NaN        S
..     ...               ...      ...      ...      ...
495      0              2627   14.458      NaN        C
496      0             36947   78.267      D20        C
497      0         C.A. 6212   15.100      NaN        S
498      2            113781  151.550  C22 C26        S
499      0            350035    7.796      NaN        S

[500 rows x 12 columns]>

In [ ]:
data.describe()#descriptive ststistics

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,500.000000,500.000000,500.000000,398.000000,500.000000,500.000000,500.000000
mean,250.500000,0.386000,2.326000,29.204774,0.574000,0.380000,31.782366
std,144.481833,0.487318,0.827704,14.597230,1.153771,0.780268,47.605949
min,1.000000,0.000000,1.000000,0.750000,0.000000,0.000000,0.000000
25%,125.750000,0.000000,2.000000,20.125000,0.000000,0.000000,7.925000
50%,250.500000,0.000000,3.000000,28.000000,0.000000,0.000000,14.456000
75%,375.250000,1.000000,3.000000,37.750000,1.000000,0.000000,30.071000
max,500.000000,1.000000,3.000000,71.000000,8.000000,5.000000,512.329000

In [ ]:
data = data.drop_duplicates()
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.283,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,0,3,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.458,NaN,C
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.267,D20,C
497,498,0,3,"Shellard, Mr. Frederick William",male,NaN,0,0,C.A. 6212,15.100,NaN,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.550,C22 C26,S
499,500,0,3,"Svensson, Mr. Olof",male,24.0,0,0,350035,7.796,NaN,S

In [ ]:
data.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,True,False,False,False,False,True,False
496,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,True,False,False,False,False,True,False
498,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            102
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          387
Embarked         1
dtype: int64

In [ ]:
data.notnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,True,True,True,True,True,True,True,True,True,True,False,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
495,True,True,True,True,True,False,True,True,True,True,False,True
496,True,True,True,True,True,True,True,True,True,True,True,True
497,True,True,True,True,True,False,True,True,True,True,False,True
498,True,True,True,True,True,True,True,True,True,True,True,True
499,True,True,True,True,True,True,True,True,True,True,False,True

In [ ]:
data.isnull().sum().sum()

490

In [ ]:
data2 = data.fillna(value=0)
data2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.283,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,0,3,"Yousseff, Mr. Gerious",male,0.0,0,0,2627,14.458,0,C
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.267,D20,C
497,498,0,3,"Shellard, Mr. Frederick William",male,0.0,0,0,C.A. 6212,15.100,0,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.550,C22 C26,S
499,500,0,3,"Svensson, Mr. Olof",male,24.0,0,0,350035,7.796,0,S

In [ ]:
data3 = data.fillna(method='pad')
data3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.283,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,0,3,"Yousseff, Mr. Gerious",male,21.0,0,0,2627,14.458,C30,C
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.267,D20,C
497,498,0,3,"Shellard, Mr. Frederick William",male,54.0,0,0,C.A. 6212,15.100,D20,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.550,C22 C26,S
499,500,0,3,"Svensson, Mr. Olof",male,24.0,0,0,350035,7.796,C22 C26,S

In [ ]:
data4 = data.fillna(method='bfill')
data4

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,C85,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.283,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,C123,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,E46,S
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,0,3,"Yousseff, Mr. Gerious",male,54.0,0,0,2627,14.458,D20,C
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.267,D20,C
497,498,0,3,"Shellard, Mr. Frederick William",male,25.0,0,0,C.A. 6212,15.100,C22 C26,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.550,C22 C26,S
499,500,0,3,"Svensson, Mr. Olof",male,24.0,0,0,350035,7.796,NaN,S

In [ ]:
import numpy as np
from scipy import stats

In [ ]:
#detect the outliers using IQR
data2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
data2.drop(['PassengerId'],axis=1,inplace=True)
data2.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# Convert relevant columns to numeric type if they are not already
for col in data2.columns:
    if data2[col].dtype == 'object':  # Check if the column is of object type (likely string)
        try:
            data2[col] = pd.to_numeric(data2[col], errors='coerce')  # Convert to numeric, replace non-convertibles with NaN
        except:
            print(f"Could not convert column {col} to numeric.")

In [ ]:
 Q1= data2.quantile(0.25)
 Q3= data2.quantile(0.75)
 IQR= Q3-Q1
 print(IQR)

Survived         1.000
Pclass           1.000
Name               NaN
Sex                NaN
Age             34.000
SibSp            0.000
Parch            0.000
Ticket      317886.000
Fare             8.304
Cabin            0.000
Embarked           NaN
dtype: float64

In [ ]:
data2=data2[~((data2 < (Q1 - 1.5 * IQR)) |(data2 > (Q3 + 1.5 * IQR))).any(axis=1)]
data2

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,NaN,NaN,22.0,1,0,NaN,7.250,0.0,NaN
2,1,3,NaN,NaN,26.0,0,0,NaN,7.925,0.0,NaN
3,1,1,NaN,NaN,35.0,1,0,113803.0,53.100,NaN,NaN
4,0,3,NaN,NaN,35.0,0,0,373450.0,8.050,0.0,NaN
5,0,3,NaN,NaN,0.0,0,0,330877.0,8.458,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
493,0,1,NaN,NaN,71.0,0,0,NaN,49.504,0.0,NaN
494,0,3,NaN,NaN,21.0,0,0,NaN,8.050,0.0,NaN
495,0,3,NaN,NaN,0.0,0,0,2627.0,14.458,0.0,NaN
497,0,3,NaN,NaN,0.0,0,0,NaN,15.100,0.0,NaN
499,0,3,NaN,NaN,24.0,0,0,350035.0,7.796,0.0,NaN